<h1>Listing comments</h1>

<table>
  <tr>
    <th>Content</th>
    
    <th>created at</th>
    <th></th>
    <th></th>
  </tr>

  <% @comments.each do |comment| %>
  
  <tr>
    
    <td><%= comment.content %></td>
    &nbsp;&nbsp;
    <td><%= comment.created_at %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

  <% end %>
  </table>

<br />

<%= link_to 'New Comment', new_comment_path %></br>

<%= link_to("Logout", destroy_user_session_path, :method=>"delete") %></br>
<%= link_to("Edit account", edit_user_registration_path) %>

